.projectsDiv {
  /* height: 35vh; */
  justify-content: space-between;
}

.project_menu {
  width: 25%;
  /* border-left: 1px solid white; */
  /* border-top: 1px solid white; */
  /* border-image: linear-gradient(to right, white 50%, transparent 50%) 100% 1; */
}

.project_menu_item {
  color: white;
  margin: 0.5rem;
  padding: 0.5rem;
  transition: ease-in-out 200ms;
}

.project_menu_item.active{
    border-left: 1px solid;
    border-bottom: 2px solid;
}

.project_menu_item:hover {
  font-size: large;
  cursor: default;
}

.project_details {
  padding: 1rem;
  width: 70%;
  color: white;
  transition: ease-in-out 200ms;
}

.project_title {
  font-style: underline;
}

.project_action_div {
    width: 50%;
    justify-content: space-between;
    margin: 1rem 2rem;
}

.project_action_item{
    text-decoration: none;
    color: #d1d1d1;
    border-bottom: 2px solid white ;
    cursor: pointer;
    
}

.toolsUsed{
    margin: 1.5rem 2rem;
}