.workAlertDiv {
  display: flex;
  flex-direction: row;
  border: 2px solid white;
  border-radius: 1rem;
  margin: 1rem 1rem;
  padding: 0.5rem 0.5rem;
  justify-content: space-evenly;
}

.work {
  margin: 1rem 1rem;
  padding: 1rem 1rem;
  color: aliceblue;
}

.timeline_detail {
  border-right: 1px solid white;
  padding: 0.5rem 0.0rem 0.5rem 0.5rem;
  margin: 0rem 0.5rem;
  width: 20vw;
  font-size: large;
}

.timeline_detail .selectionLogo{
  display: none;
}

.timeline_detail.active {
  border-right: 4px solid var(--highlight);
}

.timeline_detail.active h5 {
  color: var(--highlight);
}

.timeline_detail.active .selectionLogo {
  display: block;
  width: 2rem;
  height: 2rem;
  fill: var(--highlight);
}

.timeline_detail:hover {
  font-size:larger;
  cursor: default;
  transition: ease-in-out 200ms;
}

.timeline_detail_title{
  justify-content: space-between;
  align-items: center;
}

.workDetails{
    width: 60vw;
}

.workTitle {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: space-between;
}

.onJob_project{
    height: 20vh;
}

/*-- On Job Nav --*/
.onJob_nav, .onJob_nav div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.onJob_nav{
    margin: 3rem 1rem;
    height: 0.25rem;
    justify-content: space-between;

}

.onJob_nav_btns{
    border: 1px solid white;
    padding-inline: 1rem;
    transition: ease-in-out 200ms;

}

.onJob_nav_btns:hover{
    background-color: var(--highlight);
    border-radius: 1rem;
}

.onJob_nav_child{
    margin: 0 0.25rem;
    padding: 0.25rem 0.25rem;
    border: 2px solid white;
}

.onJob_nav_child.active{
    background-color: whitesmoke;
}