@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

*{
    box-sizing: border-box;
}

html {
    -webkit-text-size-adjust: 100%;
    line-height: 1.15
}

/* COLOR CONSTANTS */
:root{
    --main-text: #d1d1d1;
    --background: #1d1d20;
    /* --highlight:  */
}

body {
    background-color: var(--background);
    color: var(--main-text);
    font-family: "Reddit Mono", monospace;

}
